<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite">
    <parameter name="browser" value="chrome" />
    <test name="Regression Test">
        <classes>
            <class name="tests.LogTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.OffersTest"/>
            <class name="tests.PLaceOrderTest"/>
            <class name="tests.AskNowTest"/>
            <class name="tests.ChangeCountryTest"/>
            <class name="tests.BookWithInformationTest"/>
            <class name="tests.ContactUsTest"/>
            <class name="tests.TopSpecialistTest"/>
            <class name="tests.WithNameTest"/>
        </classes>
    </test>
</suite>
